/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    background-color: #fff3e2;
        font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.wrapper {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    /*Ho scelto di centrare il wrapper perché mi sembrava più bello da vedere*/
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.col {
    float: left;
    width: 50%;
}

/*HEADER*/
header {
    height: 100px;
    min-height: 100px;
    background-color: #fcbb44;
}

header h1 {
    padding-top: 30px;
    padding-left: 40px;
}

/*MAIN*/
main {
    padding-top: 30px;
    padding-left: 40px;
    background-color: white;
    height: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

.burger-name label {
    display: block;
    visibility: hidden;
}

.burger-name input {
    font-size: 30px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 40px;

    border: 0;
}

.ingredients-box h3 {
    padding-bottom: 30px;
    font-size: 22px;
}

.col-container {
    float: left;
    width: 50%;
}

.col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    padding-bottom: 20px;
}

.col-container .col:last-child {
    padding-bottom: 0;
}

.ingredient { 
    padding-left: 25px;
}

.ingredient-img {
    width: 15%;
}

.add-ingredient {
    cursor: pointer;
}

.coupon {
    padding-top: 40px;
    padding-bottom: 30px;
}

.coupon label {
    padding-right: 25px;
}

.coupon input {
    padding: 5px 8px;
    border: 0;
    border-radius: 5px;
    width: 60%;
    background-color: #fff3e2;
}

.coupon input:focus {
    background-color: #fcbb44;
}

@media all and (max-width: 890px) {
    .coupon {
    text-align: center;
    }
    .coupon label {
        display: block;
        padding-bottom: 20px;
    }
    .coupon input {
    width: 80%;
    }
}

.calculate-btn-container {
    text-align: center;
}

#calculate-btn {
    background-color: #fcbb44;
    border: 0;
    border-radius: 5px;
    padding: 12px 17px;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#calculate-btn:hover {
    background-color: #faa200;
}

#calculate-btn:active {
    background-color: #fa8e00;
}


@media all and (max-width: 890px) {
.calculate-btn-container {
    padding-bottom: 30px;
    }
}

@media all and (max-height: 750px) {
.calculate-btn-container {
    padding-bottom: 30px;
    }
}


/*FOOTER*/
.price-container {
    height: 100px;
    min-height: 100px;
    padding: 0 40px;
    background-color: #d23358;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Le altezze fisse nell'header e nel footer sono state usate come nell'esercizio di spotify, per 
far scorrere il main e mantenere visibile il footer col prezzo quando la finestra del browser viene ridotta*/